VITE_FIREBASE_API_KEY=AIzaSyCOF2F5C8FswJ_bG1egmzRC7FQpmSQGAdc
VITE_FIREBASE_AUTH_DOMAIN=rent-hub-8dea9.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=rent-hub-8dea9
VITE_FIREBASE_STORAGE_BUCKET=rent-hub-8dea9.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=874819688480
VITE_FIREBASE_APP_ID=1:874819688480:web:05fa2c72d0cdc4f56dc445
VITE_FIREBASE_MEASUREMENT_ID=G-QDJCZWXZV3
